# Copyright 2025 Itential Inc. All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
---
get:
  use: models
  group: lifecycle-manager

  description: |
    Display one or more models

    The `get models` command will retrieve all configured resource models from
    the server and display them in table format by default.

  exmaple: |
    # Get all configured models
    $ ipctl get models

describe:
  use: model <name>
  group: lifecycle-manager

  description: |
    Display details about a model

create:
  use: model <name>
  group: lifecycle-manager
  description: |
    Create a new model

delete:
  use: model <name>
  group: lifecycle-manager

  description: |
    Delete a model

    The delete command will attempt to delete the resource model from the
    specified server.  In order to delete a model successfully, the model
    cannot have any current instances.

    If the model has any current instances, the command will return an
    error.   This command supports an optional command line argument that
    will delete all instances.  To delete all instances associated with the
    model use `--delete-instances`.

    Note the use of `--delete-instances` does not transition the instance
    using the delete action, it simply deletes the instance.

    This command has an additional option `--all`.  When specified, the
    `--all` command will also delete any workflows and/or transformations
    attached to the model.

  example: |
    # Delete a model called 'Firewall rules'
    $ ipctl delete model "Firewall rules"

    # Delete the model and all associated instances
    $ ipctl delete model "Firewall rules" --delete-instances


copy:
  use: model <name> --from <profile> --to <profile
  group: lifecycle-manager
  description: |
    Copy a resource model from one server to another

clear:
  use: models
  group: lifecycle-manager
  description: |
    Delete all configured models

import:
  use: model <path>
  group: lifecycle-manager

  description: |
    Import resource model

    The `import model` command will import a resource model that has been
    exported from the same or another server.  This command accepts a single
    required argument `path` which specifies the path to the file where the
    exported model resides.

    Models can be imported directly from Git repositories using the ``--repository`
    optional argument.

  example: |
    # Import a resource model from a file
    $ ipctl import model path/to/model.json


export:
  use: model <name>
  group: lifecycle-manager

  description: |
    Export resource model

    The `export model` command will export a resource model from the Itential
    Platform server.  If exported model will be written to a file.  If the
    model name specified by the `name` argument does not exist, this command
    will return an error.

  example: |
    # Export a resource model called `CLI Test`
    $ ipctl export model "CLI Test"

