# .github/workflows/premerge.yml
---
name: premerge

on:
  pull_request:
    branchs:
      - devel

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run make test
        run: make test
